@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}


<h2 style="text-align:center"><img style="width:500px;height:400px" src="~/images/DinoDiner-32.png" /></h2>
<h1>Dino-Diner Index</h1>
<h2><a style="text-align:left" href="/Menu">Menu</a></h2>
<h2><a style="text-align:left" href="/Privacy">Privacy Policy</a></h2>
<h2><a style="text-align:left" href="/About">About</a></h2>
