@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Dino-Diner Index</h1>
<h1 style="font-style:italic;font-size:20px">Work in progress!</h1>
<img style="width:500px;height:600px;align-self:center" src="~/images/DinoDiner-32.png" />
<h2><a style="text-align:left" href="/Menu">Menu</a></h2>
<h2><a style="text-align:left" href="/Privacy">Privacy Policy</a></h2>
<h2><a style="text-align:left" href="/About">About</a></h2>
